<p>INTERPOLIATION</p>
<app-interpolation></app-interpolation>

<p>---</p>
<p>PROPERTY BINDING</p>
<app-property-binding></app-property-binding>

<p>---</p>
<p>EVENT BINDING</p>
<app-event-binding></app-event-binding>

<p>---</p>
<p>TWO WAY BINDING</p>
<app-two-way-binding></app-two-way-binding>

<p>---</p>
<p>COMPONENT PROPERTY BINDING</p>
<app-cmp-property-binding
  [valueFromParent]="'value send to child'"
></app-cmp-property-binding>

<p>---</p>
<p>EVENT BINDING</p>
<app-cmp-event-binding
  (eventFromComponent)="onEventFromComponent($event)"
></app-cmp-event-binding>
<p>data from child: {{ dataFromChild }}</p>

<p>---</p>
<p>TWO WAY BINDING</p>
<app-cmp-two-way-binding
  [(value)]="dataTwoWayBinding"
></app-cmp-two-way-binding>
<p>dataTwoWayBinding: {{ dataTwoWayBinding }}</p>

<p>---</p>
<p>ENCAPSULATION</p>
<app-first></app-first>

<p>---</p>
<p>CHANGE DETECTION</p>
<app-main></app-main>
